@font-face {
  font-family: Amaranth;
  src: url(https://fonts.googleapis.com/css?family=Amaranth);
}

body
{
	font-family: Amaranth, Helvetica, sans-serif;
	background-color: #e8c7e2;
  padding:30px;
  word-wrap: break-word;
}

a:hover
{
  background-color: white;
}

p
{
	width:700px;
}

.collapsible {
  background-color: #4b1b6b;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 720px;
  border: 2px solid white;
  border-radius: 8px;
  margin-top: 4px;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #672693;
  border: 2px solid black;
}

.revealedcontent {
  padding: 0 18px;
  border-radius: 8px;
  max-height: 0;
  overflow:hidden;
  transition: max-height 0.4s ease-out;
  background-color: #ccaae2;
  width: 684px; /* 720 - 18 - 18 = 684 [TODO: fix the jank] */
}

.revealedcontent > p {
  width: 100%;
}

.linkbox {
  position: absolute;
  right: 30px;
  background-color: #d7bff1;
  padding-left: 18px;
  padding-bottom: 18px;
  border: 2px solid white;
  border-radius: 8px;
  width: 170px;
}

.linkbox a {
  padding: 0px;
  border-radius: 0px;
  text-decoration: none;
}