@font-face {
  font-family: Amaranth;
  src: url(https://fonts.googleapis.com/css?family=Amaranth);
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.clearfix::after {
  content: " ";
  display: block;
  clear: both;
}

body
{
	font-family: Amaranth, Helvetica, sans-serif;
	background-color: #e8c7e2;
  padding:30px;
  word-wrap: break-word;
}

a:hover
{
  background-color: white;
}

p
{
	max-width: 700px;
}

.collapsible {
  background-color: #4b1b6b;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 720px;
  border: 2px solid white;
  border-radius: 8px;
  margin-top: 4px;
  text-align: center;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #672693;
  border: 2px solid black;
}

.revealedcontent {
  padding: 0 18px;
  border-radius: 8px;
  max-height: 0;
  overflow:hidden;
  transition: max-height 0.4s ease-out;
  background-color: #ccaae2;
  max-width: 720px;
}

.revealedcontent > p {
  width: 100%;
}

nav {
  float: right;
  background-color: #d7bff1;
  padding: 18px;
  border: 2px solid white;
  border-radius: 8px;
  margin: 0 0 10px 10px;
}

nav h3:first-child {
  margin-top: 0;
}

nav h3 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav a {
  padding: 0px;
  border-radius: 0px;
  text-decoration: none;
}

#ee_shots {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

#ee_shots > img {
  display: flex;
  max-width: 300px;
  margin: 0 10px 10px 0;
  padding: 0;
}