html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body
{
	font-family: Open Sans, Helvetica, sans-serif;
	background-color: #e8c7e2;
  	padding:30px;
 	word-wrap: break-word;
}

a:hover
{
  background-color: rgba(255, 255, 255, 0.40);
}

main
{
	max-width: 720px;
}

.collapsible {
  background-color: #672693;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  border-radius: 8px;
  margin-top: 8px;
  text-align: center;
  outline: none;
  font-size: 15px;
}

.collapsible:nth-of-type(2n) {
  background-color: #a55dd5;
}

.collapsible:hover {
  opacity: 0.75;
}

.collapsible.active {
  border-radius: 8px 8px 0 0;
}

.revealedcontent {
  padding: 0 18px;
  border-radius: 0 0 8px 8px;
  max-height: 0;
  overflow:hidden;
  transition: max-height 0.4s ease-out;
  background-color: #ccaae2;
  width: 100%;
}

nav {
  display: inline-block;
  float: right;
  background-color: #d7bff1;
  padding: 18px;
  border: 4px dotted white;
  border-radius: 8px;
  margin: 0 0 10px 10px;
}

nav h3:first-child {
  margin-top: 0;
}

nav h3 {
  margin: 8px 0;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav a {
  padding: 0px;
  border-radius: 0px;
  text-decoration: none;
}

#ee_shots {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

#ee_shots > img {
  display: flex;
  max-width: 300px;
  margin: 0 10px 10px 0;
  padding: 0;
}