.top {
  text-align: center;
  width: 100%;
  height: 10%;
}

#gameWin
{
	position: absolute;
	width: 600px;
	height: 600px;
	background: black;
}

body
{
	background: white;
}

.door
{	
	text-align: center;
	font-size: 300%;
	width: 100px;
	height: 100px;
	background: brown;
}

#guy
{
	font-family:verdana;
	font-size:200%;
	position: absolute;
	height: 50px;
	width: 50px;
	color: white;
	background: red;
}

#selfie
{
	width: 100px;
	height: 100px;
}
